body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-image: url('../icons/background.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 80%;
  max-width: 1000px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  background: white;
}

.left-pane {
  flex: 1;
  background: linear-gradient(135deg, #ffffff, #ff9ac9, #a86af9);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.logo {
  width: 220px;
  height: 220px;
  margin-bottom: 20px;
}

.left-pane h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.left-pane p {
  font-size: 16px;
  max-width: 250px;
}

.right-pane {
  flex: 1;
  padding: 60px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.form-box h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-box label {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 500;
}

.form-box label span {
  color: red;
}

.form-box select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  margin-bottom: 20px;
  font-family: inherit;
}

.form-box button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #ffffff, #ff9ac9, #a86af9);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.form-box button:hover {
  background: #a86af9;
}
