* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #ff9ac9, #f0ddec);
  padding-bottom: 120px; /* Add space for fixed footer */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  background: #f0ddec;
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.logo span {
  padding-top: 10%;
}

.user {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.user img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.user span {
  font-size: 25px;
  font-weight: bold;
  padding-right: 10px;
}

